
.Text-field {
    bottom: 1em;
    position: fixed;
    left: 20%;
}
.Issue-tag{
    box-shadow: 1px 1px 4px green;
    background-color: palevioletred;
    margin-top:2em;
    padding:4px 0px;
    cursor: pointer;
    border-radius: 1px;
    font-size: 1.3em;
}
.Group-pad{
    float: left;
    position:fixed;
    margin-left: 5%;
    width: 5%;
}
.Group-tab{
    box-shadow:  1px 1px 4px #441100;
    border-radius: 10px;
    cursor: pointer;
    overflow-x: hidden;
    height: 2em;
    /* width: 10em; */
    background-color: gray;
    margin-top:1em;
    line-height: 2em;
}
.Group-tab-selected{
    background-color: #5A85F1;
}
.Channel-title{
    box-shadow:  1px 2px 5px;
    overflow-x: hidden;
    height: 2em;
    background-color: white;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bolder;
    outline:none;
    cursor: default ;
}
.Delete-button{
    float:right;
    margin-right:1px;
    background-color: teal;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
}
.Lobby-pad {
    overflow-y: scroll;

    margin-left: 15%;
    width: 80%;

    background-color: #F0EAD6;
    height: 36em;
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
    box-shadow: 1px 1px 10px;

}
.User-name{
    color: #CF483D;
    /* text-shadow: 1px 1px 0.1px; */
}
.Log-time:after { 
    content: " .............................................................................................................................................................................................................................................................................................................................." 
      /* border-bottom: 2px dotted #ddd; */
        /* box-sizing: border-box; */


}

.Log-time{
    font-size : 0.7em;
    color: teal;
}
.Unsolved {
    cursor: pointer;
    float:right;
    background-color: #FF6644;
    border-radius: 2px;
    padding: 4px;
}
.Solved {
        float:right;
    background-color: #118822;
    border-radius: 2px;
    padding: 4px;
}
.Text-content{
       
}
.Content-list{
    position: relative;
}
.Code-block{
    text-align: left
}